/* div {
   display: block;
} */

h1.display-4 {
   text-align: center;
}

p.lead {
  text-align: center;
  }
#index {
  background-color: lightblue;
}

/////////////////

.Nicole {
  text-align: center;
  /* color: white; */
  background-color: white;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#description {
  /* background-color: white; */
}
.aboutme {
  background-color: lightgreen;
  font-family: Georgia;
  margin: 0;
}

* {
  box-sizing: border-box;
}
#h2 {
  text-align: center;
  color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
  /*vertical-align: middle;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  text-decoration-color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.format_pic {
  /* padding-left: 15px; */
  /* padding-right: 100px; */
  /* right: 250px; */
  /* padding-top: 65px; */
  transform: rotate(270deg);
}

.prev {
  left: 250px;
}
/* Position the "next button" to the right */
.next {
  right: 250px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.aboutme_button {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  /* right: 100px; */
  width: 100%;
  /* margin: 150px; */
  margin-right: 300px;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
  margin-left: auto;
    color: white;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    margin-right: auto;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  /* text-align: left; */
  margin-right: auto;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
#myBtn {
  background-color: #e7e7e7; color: black;
  font-family: "Times New Roman", Times, serif;
}
#myBtn:hover {
  border-radius: 8px;
  background-color: #008CBA;
  cursor: pointer;
}

#second_Btn {
  background-color: #e7e7e7; color: black;
  font-family: "Times New Roman", Times, serif;
}
#second_Btn:hover {
  border-radius: 8px;
background-color: #f44336;
  cursor: pointer;
}
