
@font-face {
  font-family: Nexa;
  src: url("Nexa/NexaLight.otf") format("opentype");
}

@font-face {
  font-family: Nexa-Bold;
  src: url("Nexa/NexaBold.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
font-family: Nexa;
/* background-image: url("../img/code.jpg"); */
background-color: white;
color: #3B3B3B;
display: flex;
flex-direction: column;
}

.aligned-row {
  align-items: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: space-between; */
  /* font-size: 40px; */
}


.nicole {
  flex: 1 0 auto;
  text-align: center;
  position: relative;
  /* color: white; */
  display:block;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;

  /* margin-bottom: 150px;  */
}

.contact {
  width: 25px;
  border-radius: 8px;
}

.resume {
  width: 25px;
  border-radius: 5px;
  padding-top: 5px;
}

.github {
  width: 30px;
  border-radius: 8px;
}

#view_about {
  background-color: white;
  background-repeat:no-repeat;
  border: 1px solid darkslategray;
  font-family: Nexa;
  padding: 5px;
  box-shadow: 2px 2px;
  cursor:pointer;
  overflow: hidden;
  border-radius: 8px;
}

#view_about:hover {
  background-color: #000;
  color: rgb(68, 185, 185);
  border-color: transparent;
}

.regular {
  font-family: Nexa;
}
  
.bold {
  font-family: Nexa-Bold;
}

/* when user highlights something */
::selection {
  background: #6495ED;
}

.section1 {
  width:350px;
  font-size: 20px;
  border-color: transparent;
  text-align: left;
  /* word-break: break-all; */
  float: left;
  border-width:1px;
  word-wrap: break-word;
}

.section2 {
  width:350px;
  font-size: 20px;
  border-color: transparent;
  text-align: left;
  padding-top: 40px;
  padding-left: 10px;
  /* word-break: break-all; */
  float: right;
  border-width:1px;
  word-wrap: break-word;
}

.box {
  display: flex;
  align-items:center;
  padding-left: 100px;
  /* padding-right: 50px; */
}

footer {
  border-top: 1px solid rgb(68, 185, 185);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: rgb(68, 185, 185);
}

.nav-bar-section {
  padding: 10px;
  position: fixed;
  border-bottom: 1px solid rgb(68, 185, 185);
  background-color: white;
}

.nav-bar {
  padding: 10px;
  border-bottom: 1px solid rgb(68, 185, 185);
  background-color: white;
}

.nav-bar a{
  color: #3B3B3B !important;
}

.nav-bar a.current {
  text-decoration: underline;
}

.sections {
  padding: 50px 5px; 
  z-index: 1500;
  flex: 1 0 auto;
  text-align: center;
  position:fixed;
  display:block;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  margin-top: 145px; 
}

.even_section {
  background-color: rgb(172, 228, 228);

}

.odd_section {
  background-color: white;
}

.section-title {
  font-family: Nexa-Bold;
  font-size: 20px;
}

.bottom-margin {
  margin-bottom: 150px;
}

.column {
  align-items: center;
  width:700px;
  font-size: 20px;
  border-color: transparent;
  text-align: left;
  float: left;
  border-width:1px;
  word-wrap: break-word;

  position: relative;
  display:block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 10px;
  margin-bottom: 50px;
}


h1.display-4 {
   text-align: center;
}

p.lead {
  text-align: center;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    color: black;
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
  margin-right: auto;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
}

.modal-header {
  font-family: Nexa;
  padding: 0px 16px;
  background-color: white;
  color: black;
  margin-right: auto;
}

.modal-body {
  font-family: Nexa;
  padding: 0px 16px;
}

.modal-footer {
  /* text-align: left; */
  margin-right: auto;
  padding: 2px 16px;
  background-color: white;
  color: black;
}

.project-image {
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.project-image:hover {
  opacity: 0.7;
}



